.container-header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background-color: #333333;
}

.header{
    color:#faf8ff;
}

.header > p {
    font-size: 1.3em;
    font-weight: 600;
}