.container-intro{
    background-color: #faf8ff;
    height:40rem;
    display:flex;
    flex-direction: column;
}

.info-concept{
    margin-top:5em;
    position: relative;
    width: 100%;
    max-width:600px;
    left:3%;
    background-color: #333333;
    padding: 1em 2em 1em 2em;
    border-radius: 10px 25px 10px 25px;
}

.info-dataset{
    margin-top: 3em;
    position: relative;
    width: 100%;
    max-width:600px;
    left:60%;
    
    background-color: #333333;
    padding: 1em 2em 1em 2em;
    border-radius: 10px 25px 10px 25px;
}

.info-h2{
    color:#faf8ff;
    text-align: start;
}

.info-p{
    color:#faf8ff;
    text-align: start;
}